.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    &.primary-button {
        background-color: rgb(237, 123, 123);
        color: white;
    }   

    &.active {
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
    }
}
